<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.del.techclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HowToList.AccountPass"
            android:label="@string/title_activity_account_pass"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SearchViewActivity" />
        <activity android:name=".HowToList.LoginInformation.LoginActivity" />
        <activity android:name=".HowToList.Router.RouterActivity" />
        <activity android:name=".HowToList.MountISO.MountIso" />
        <activity android:name=".HowToList.DownloadMovies.DirectActivity" />
        <activity android:name=".HowToList.DownloadMovies.UtorrentActivity" />
        <activity android:name=".HowToList.DownloadMovies.DownloadMovies" />
        <activity android:name=".HowToList.RecordGame.RecordGameActivity" />
        <activity android:name=".HowToList.ShareItActivity.ShareitActivity" />
        <activity android:name=".HowToList.FacebookPassword.FacebookActivity" />
        <activity android:name=".HowToList.EnterBios.StartMenu" />
        <activity android:name=".HowToList.EnterBios.KeyboardBios" />
        <activity android:name=".HowToList.EnterBios.EnterToBiosActivity" />
        <activity android:name=".HowToList.LockScreen.LockScreen" />
        <activity android:name=".HowToList.CleanComputer.CleanComputer" />
        <activity android:name=".HowToList.phonetoPC.ConnectPhone" />
        <activity android:name=".HowToList.LaptopKeyboard.FixKeyboard" />
        <activity android:name=".HowToList.ResetBios.CmosBattery" />
        <activity android:name=".HowToList.ResetBios.BiosJumper" />
        <activity android:name=".HowToList.ResetBios.BiosMenu" />
        <activity android:name=".HowToList.ResetBios.ResetBios" />
        <activity android:name=".HowToList.RouterIPAddress.RouterAddress" />
        <activity android:name=".HowToList.RotateScreen.RotateActivity" />
        <activity android:name=".HowToList.DaisyChain.DaisyChainActivity" />
        <activity android:name=".HowToList.SSID.SSIDActivity" />
        <activity android:name=".HowToList.Scanner.ScannerActivity" />
        <activity android:name=".HowToList.PDF.PDF4" />
        <activity android:name=".HowToList.PDF.PDF3" />
        <activity android:name=".HowToList.PDF.PDF2" />
        <activity android:name=".HowToList.PDF.PDF1" />
        <activity android:name=".HowToList.PDF.PDFActivity" />
        <activity android:name=".HowToList.FaxMachine.Fax2" />
        <activity android:name=".HowToList.FaxMachine.Fax1" />
        <activity android:name=".HowToList.FaxMachine.FaxMainActivity" />
        <activity android:name=".HowToList.RAM.RamActivity" />
        <activity android:name=".HowToList.VideoCard.Method3" />
        <activity android:name=".HowToList.VideoCard.Method2" />
        <activity android:name=".HowToList.VideoCard.Method1" />
        <activity android:name=".HowToList.VideoCardActivity" />
        <activity android:name=".HowToList.Webcam.WebcamActivity" />
        <activity android:name=".HowToList.Screen.ScreenActivity" />
        <activity android:name=".HowToList.Brightness.BrightActivity" />
        <activity android:name=".HowToList.SSD.SSDActivity" />
        <activity android:name=".HowToList.RidofVirus.VirusActivity" />
        <activity android:name=".HowToList.Browser.BrowserActivity" />
        <activity android:name=".HowToList.EmailEncryption.MailActivity" />
        <activity android:name=".HowToList.USBDevice.UsbDeviceActivity" />
        <activity android:name=".HowToList.Encrypt_Files.EncryptedActivity" />
        <activity android:name=".HowToList.Uninstall_Program.UninstallActivity" />
        <activity android:name=".HowToList.ProtectFromVirusActivity" />
        <activity android:name=".HowToList.TVasMonitorActivity" />
        <activity android:name=".HowToList.DeleteActivity" />
        <activity android:name=".HowToList.LaptopToMonitor" />
        <activity android:name=".HowToList.SetupMonitorActivity" />
        <activity android:name=".HowToList.SafeActivity" />
        <activity android:name=".HowToList.NetflixActivity" />
        <activity android:name=".HowToList.BootActivity" />
        <activity android:name=".HowToList.DualActivity" />
        <activity android:name=".HowToList.VDActivity" />
        <activity android:name=".HowToList.Virtual3Activity" />
        <activity android:name=".HowToList.BiosActivity" />
        <activity android:name=".HowToList.TransferActivity" />
        <activity android:name=".HowToList.Virtual2Activity" />
        <activity android:name=".HowToList.VirtualDesktopActivity" />
        <activity android:name=".HowToList.StartupActivity" />
        <activity android:name=".HowToList.PrinterActivity" />
        <activity android:name=".HowToList.ConnecttvActivity" />
        <activity android:name=".HowToList.ScreenShotActivity" />
        <activity android:name=".HowToList.SpeedUpActivity" />
        <activity android:name=".VpnActivity" />
        <activity android:name=".WindowsActivity" />
        <activity android:name=".FormatComputer" />
        <activity android:name=".CrimpActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".CompTwoActivity" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentsTerms.abtexting" />
        <activity android:name=".FragmentsTerms.affiliate" />
        <activity android:name=".FragmentsTerms.analog" />
        <activity android:name=".FragmentsTerms.ansi" />
        <activity android:name=".FragmentsTerms.API" />
        <activity android:name=".FragmentsTerms.Apple" />
        <activity android:name=".FragmentsTerms.application" />
        <activity android:name=".FragmentsTerms.Arp" />
        <activity android:name=".FragmentsTerms.artificial" />
        <activity android:name=".FragmentsTerms.ASCII" />
        <activity android:name=".FragmentsTerms.assistive" />
        <activity android:name=".FragmentsTerms.attribute" />
        <activity android:name=".FragmentsTerms.augmented" />
        <activity android:name=".FragmentsTerms.BackEnd" />
        <activity android:name=".FragmentsTerms.barcraft" />
        <activity android:name=".FragmentsTerms.BaseBand" />
        <activity android:name=".FragmentsTerms.Bespoke" />
        <activity android:name=".FragmentsTerms.bigdata" />
        <activity android:name=".FragmentsTerms.Binary" />
        <activity android:name=".FragmentsTerms.Biometrix" />
        <activity android:name=".FragmentsTerms.Bitcoin" />
        <activity android:name=".FragmentsTerms.Blacklist" />
        <activity android:name=".FragmentsTerms.Bluetooth" />
        <activity android:name=".FragmentsTerms.Boolean" />
        <activity android:name=".FragmentsTerms.Boot" />
        <activity android:name=".FragmentsTerms.bootsector" />
        <activity android:name=".FragmentsTerms.bootsequence" />
        <activity android:name=".FragmentsTerms.Breadcrumbs" />
        <activity android:name=".FragmentsTerms.bounce" />
        <activity android:name=".FragmentsTerms.Buffer" />
        <activity android:name=".FragmentsTerms.Bug" />
        <activity android:name=".FragmentsTerms.Burn" />
        <activity android:name=".FragmentsTerms.BezierCurve" />
        <activity android:name=".FragmentsTerms.Cache" />
        <activity android:name=".FragmentsTerms.CAD" />
        <activity android:name=".FragmentsTerms.Calltoaction" />
        <activity android:name=".FragmentsTerms.Camelcase" />
        <activity android:name=".FragmentsTerms.CameraRaw" />
        <activity android:name=".FragmentsTerms.Capslock" />
        <activity android:name=".FragmentsTerms.Caching" />
        <activity android:name=".FragmentsTerms.CDMA" />
        <activity android:name=".FragmentsTerms.Character" />
        <activity android:name=".FragmentsTerms.Circuit" />
        <activity android:name=".FragmentsTerms.CleanRoom" />
        <activity android:name=".FragmentsTerms.CTR" />
        <activity android:name=".FragmentsTerms.client_server" />
        <activity android:name=".FragmentsTerms.Clockcycle" />
        <activity android:name=".FragmentsTerms.ClockSpeed" />
        <activity android:name=".FragmentsTerms.CloudComp" />
        <activity android:name=".FragmentsTerms.CMYK" />
        <activity android:name=".FragmentsTerms.Coldboot" />
        <activity android:name=".FragmentsTerms.ColorValue" />
        <activity android:name=".FragmentsTerms.Colortheory" />
        <activity android:name=".FragmentsTerms.Column" />
        <activity android:name=".FragmentsTerms.ComputerEthics" />
        <activity android:name=".FragmentsTerms.ComputerScience" />
        <activity android:name=".FragmentsTerms.Configuration" />
        <activity android:name=".FragmentsTerms.Constant" />
        <activity android:name=".FragmentsTerms.contentcuration" />
        <activity android:name=".FragmentsTerms.contentmarketing" />
        <activity android:name=".FragmentsTerms.conversion" />
        <activity android:name=".FragmentsTerms.Copyright" />
        <activity android:name=".FragmentsTerms.copyrightinfringe" />
        <activity android:name=".FragmentsTerms.CPS" />
        <activity android:name=".FragmentsTerms.CSS" />
        <activity android:name=".FragmentsTerms.CSS3" />
        <activity android:name=".FragmentsTerms.Crop" />
        <activity android:name=".FragmentsTerms.Crossplatform" />
        <activity android:name=".FragmentsTerms.Cryptography" />
        <activity android:name=".FragmentsTerms.CTP" />
        <activity android:name=".FragmentsTerms.CUDA" />
        <activity android:name=".FragmentsTerms.CyberCrime" />
        <activity android:name=".FragmentsTerms.dataarchitech" />
        <activity android:name=".FragmentsTerms.Database" />
        <activity android:name=".FragmentsTerms.Adhocnetwork" />
        <activity android:name=".FragmentsTerms.datamining" />
        <activity android:name=".FragmentsTerms.datamodel" />
        <activity android:name=".FragmentsTerms.datavisual" />
        <activity android:name=".FragmentsTerms.daw" />
        <activity android:name=".FragmentsTerms.declaration" />
        <activity android:name=".FragmentsTerms.DDL" />
        <activity android:name=".FragmentsTerms.Default" />
        <activity android:name=".FragmentsTerms.defragment" />
        <activity android:name=".FragmentsTerms.delete" />
        <activity android:name=".FragmentsTerms.denary" />
        <activity android:name=".FragmentsTerms.devops" />
        <activity android:name=".FragmentsTerms.developer" />
        <activity android:name=".FragmentsTerms.DFS" />
        <activity android:name=".FragmentsTerms.digital" />
        <activity android:name=".FragmentsTerms.digitize" />
        <activity android:name=".FragmentsTerms.dithering" />
        <activity android:name=".FragmentsTerms.DMZ" />
        <activity android:name=".FragmentsTerms.domain" />
        <activity android:name=".FragmentsTerms.dotmatrix" />
        <activity android:name=".FragmentsTerms.doubleclick" />
        <activity android:name=".FragmentsTerms.dpi" />
        <activity android:name=".FragmentsTerms.drag" />
        <activity android:name=".FragmentsTerms.drm" />
        <activity android:name=".FragmentsTerms.dtd" />
        <activity android:name=".FragmentsTerms.dv" />
        <activity android:name=".FragmentsTerms.elearning" />
        <activity android:name=".FragmentsTerms.edutainment" />
        <activity android:name=".FragmentsTerms.element" />
        <activity android:name=".FragmentsTerms.emailmarket" />
        <activity android:name=".FragmentsTerms.embedding" />
        <activity android:name=".FragmentsTerms.emulation" />
        <activity android:name=".FragmentsTerms.encryption" />
        <activity android:name=".FragmentsTerms.enduser" />
        <activity android:name=".FragmentsTerms.engagement" />
        <activity android:name=".FragmentsTerms.enterprise" />
        <activity android:name=".FragmentsTerms.ergonomics" />
        <activity android:name=".FragmentsTerms.esports" />
        <activity android:name=".FragmentsTerms.EUP" />
        <activity android:name=".FragmentsTerms.FAQ" />
        <activity android:name=".FragmentsTerms.fddi" />
        <activity android:name=".FragmentsTerms.field" />
        <activity android:name=".FragmentsTerms.fifo" />
        <activity android:name=".FragmentsTerms.filesystem" />
        <activity android:name=".FragmentsTerms.filo" />
        <activity android:name=".FragmentsTerms.firewall" />
        <activity android:name=".FragmentsTerms.flexible" />
        <activity android:name=".FragmentsTerms.floatingpoint" />
        <activity android:name=".FragmentsTerms.flops" />
        <activity android:name=".FragmentsTerms.flowchart" />
        <activity android:name=".FragmentsTerms.font" />
        <activity android:name=".FragmentsTerms.fontcase" />
        <activity android:name=".FragmentsTerms.footer" />
        <activity android:name=".FragmentsTerms.format" />
        <activity android:name=".FragmentsTerms.formula" />
        <activity android:name=".FragmentsTerms.fqdn" />
        <activity android:name=".FragmentsTerms.fragmentation" />
        <activity android:name=".FragmentsTerms.frame" />
        <activity android:name=".FragmentsTerms.framework" />
        <activity android:name=".FragmentsTerms.frequency" />
        <activity android:name=".FragmentsTerms.frontend" />
        <activity android:name=".FragmentsTerms.fullduplex" />
        <activity android:name=".FragmentsTerms.funnel" />
        <activity android:name=".FragmentsTerms.gigaflops" />
        <activity android:name=".FragmentsTerms.gigahertz" />
        <activity android:name=".FragmentsTerms.gigo" />
        <activity android:name=".FragmentsTerms.gis" />
        <activity android:name=".FragmentsTerms.gpgpu" />
        <activity android:name=".FragmentsTerms.gpio" />
        <activity android:name=".FragmentsTerms.gps" />
        <activity android:name=".FragmentsTerms.graphics" />
        <activity android:name=".FragmentsTerms.grayscale" />
        <activity android:name=".FragmentsTerms.growthhacking" />
        <activity android:name=".FragmentsTerms.hacker" />
        <activity android:name=".FragmentsTerms.halfduplex" />
        <activity android:name=".FragmentsTerms.halftone" />
        <activity android:name=".FragmentsTerms.handshake" />
        <activity android:name=".FragmentsTerms.hardcopy" />
        <activity android:name=".FragmentsTerms.hdtv" />
        <activity android:name=".FragmentsTerms.hdv" />
        <activity android:name=".FragmentsTerms.header" />
        <activity android:name=".FragmentsTerms.hertz" />
        <activity android:name=".FragmentsTerms.hezadecimal" />
        <activity android:name=".FragmentsTerms.hfs" />
        <activity android:name=".FragmentsTerms.hibernate" />
        <activity android:name=".FragmentsTerms.hybridapp" />
        <activity android:name=".FragmentsTerms.html" />
        <activity android:name=".FragmentsTerms.html5" />
        <activity android:name=".FragmentsTerms.hostname" />
        <activity android:name=".FragmentsTerms.hover" />
        <activity android:name=".FragmentsTerms.hyperthreading" />
        <activity android:name=".FragmentsTerms.IO" />
        <activity android:name=".FragmentsTerms.ide" />
        <activity android:name=".FragmentsTerms.ids" />
        <activity android:name=".FragmentsTerms.ieee" />
        <activity android:name=".FragmentsTerms.impressions" />
        <activity android:name=".FragmentsTerms.infuencer" />
        <activity android:name=".FragmentsTerms.infitainment" />
        <activity android:name=".FragmentsTerms.input" />
        <activity android:name=".FragmentsTerms.integer" />
        <activity android:name=".FragmentsTerms.integrated" />
        <activity android:name=".FragmentsTerms.intellectualproperty" />
        <activity android:name=".FragmentsTerms.interlaced" />
        <activity android:name=".FragmentsTerms.intranet" />
        <activity android:name=".FragmentsTerms.ips" />
        <activity android:name=".FragmentsTerms.ipx" />
        <activity android:name=".FragmentsTerms.iso" />
        <activity android:name=".FragmentsTerms.it" />
        <activity android:name=".FragmentsTerms.ivr" />
        <activity android:name=".FragmentsTerms.jfs" />
        <activity android:name=".FragmentsTerms.kerning" />
        <activity android:name=".FragmentsTerms.keystroke" />
        <activity android:name=".FragmentsTerms.keywords" />
        <activity android:name=".FragmentsTerms.kilohertz" />
        <activity android:name=".FragmentsTerms.Lan" />
        <activity android:name=".FragmentsTerms.leading" />
        <activity android:name=".FragmentsTerms.leaf" />
        <activity android:name=".FragmentsTerms.leftclick" />
        <activity android:name=".FragmentsTerms.lifo" />
        <activity android:name=".FragmentsTerms.loadbalancing" />
        <activity android:name=".FragmentsTerms.localhost" />
        <activity android:name=".FragmentsTerms.logon" />
        <activity android:name=".FragmentsTerms.logicgate" />
        <activity android:name=".FragmentsTerms.login" />
        <activity android:name=".FragmentsTerms.lpi" />
        <activity android:name=".FragmentsTerms.lte" />
        <activity android:name=".FragmentsTerms.lun" />
        <activity android:name=".FragmentsTerms.macintosh" />
        <activity android:name=".FragmentsTerms.manet" />
        <activity android:name=".FragmentsTerms.margin" />
        <activity android:name=".FragmentsTerms.marketingautomation" />
        <activity android:name=".FragmentsTerms.markuplang" />
        <activity android:name=".FragmentsTerms.matrix" />
        <activity android:name=".FragmentsTerms.mdi" />
        <activity android:name=".FragmentsTerms.megahertz" />
        <activity android:name=".FragmentsTerms.megapixel" />
        <activity android:name=".FragmentsTerms.memorybank" />
        <activity android:name=".FragmentsTerms.mention" />
        <activity android:name=".FragmentsTerms.metaelements" />
        <activity android:name=".FragmentsTerms.metadata" />
        <activity android:name=".FragmentsTerms.microblog" />
        <activity android:name=".FragmentsTerms.micron" />
        <activity android:name=".FragmentsTerms.midi" />
        <activity android:name=".FragmentsTerms.minidv" />
        <activity android:name=".FragmentsTerms.mips" />
        <activity android:name=".FragmentsTerms.mis" />
        <activity android:name=".FragmentsTerms.mms" />
        <activity android:name=".FragmentsTerms.mnemonic" />
        <activity android:name=".FragmentsTerms.mobile" />
        <activity android:name=".FragmentsTerms.monochrome" />
        <activity android:name=".FragmentsTerms.moodboard" />
        <activity android:name=".FragmentsTerms.multichannel" />
        <activity android:name=".FragmentsTerms.multimedia" />
        <activity android:name=".FragmentsTerms.multiplatform" />
        <activity android:name=".FragmentsTerms.namespace" />
        <activity android:name=".FragmentsTerms.nanometer" />
        <activity android:name=".FragmentsTerms.nativeapp" />
        <activity android:name=".FragmentsTerms.network" />
        <activity android:name=".FragmentsTerms.networktopology" />
        <activity android:name=".FragmentsTerms.newbie" />
        <activity android:name=".FragmentsTerms.newline" />
        <activity android:name=".FragmentsTerms.nino" />
        <activity android:name=".FragmentsTerms.ntfs" />
        <activity android:name=".FragmentsTerms.nfc" />
        <activity android:name=".FragmentsTerms.nui" />
        <activity android:name=".FragmentsTerms.Null" />
        <activity android:name=".FragmentsTerms.numlock" />
        <activity android:name=".FragmentsTerms.oasis" />
        <activity android:name=".FragmentsTerms.oop" />
        <activity android:name=".FragmentsTerms.oep" />
        <activity android:name=".FragmentsTerms.offline" />
        <activity android:name=".FragmentsTerms.olap" />
        <activity android:name=".FragmentsTerms.online" />
        <activity android:name=".FragmentsTerms.opencl" />
        <activity android:name=".FragmentsTerms.openingtag" />
        <activity android:name=".FragmentsTerms.optimization" />
        <activity android:name=".FragmentsTerms.organic" />
        <activity android:name=".FragmentsTerms.osimodel" />
        <activity android:name=".FragmentsTerms.ota" />
        <activity android:name=".FragmentsTerms.output" />
        <activity android:name=".FragmentsTerms.overwrite" />
        <activity android:name=".FragmentsTerms.pagefault" />
        <activity android:name=".FragmentsTerms.pageorientation" />
        <activity android:name=".FragmentsTerms.parity" />
        <activity android:name=".FragmentsTerms.paritybit" />
        <activity android:name=".FragmentsTerms.parse" />
        <activity android:name=".FragmentsTerms.partition" />
        <activity android:name=".FragmentsTerms.passcode" />
        <activity android:name=".FragmentsTerms.passphrase" />
        <activity android:name=".FragmentsTerms.password" />
        <activity android:name=".FragmentsTerms.peopleware" />
        <activity android:name=".FragmentsTerms.phreaking" />
        <activity android:name=".FragmentsTerms.piconet" />
        <activity android:name=".FragmentsTerms.pixel" />
        <activity android:name=".FragmentsTerms.plagiarism" />
        <activity android:name=".FragmentsTerms.platform" />
        <activity android:name=".FragmentsTerms.podcast" />
        <activity android:name=".FragmentsTerms.port" />
        <activity android:name=".FragmentsTerms.poweruser" />
        <activity android:name=".FragmentsTerms.ppi" />
        <activity android:name=".FragmentsTerms.ppm" />
        <activity android:name=".FragmentsTerms.pretest" />
        <activity android:name=".FragmentsTerms.primarykey" />
        <activity android:name=".FragmentsTerms.progressivescan" />
        <activity android:name=".FragmentsTerms.property" />
        <activity android:name=".FragmentsTerms.push" />
        <activity android:name=".FragmentsTerms.qrcode" />
        <activity android:name=".FragmentsTerms.queue" />
        <activity android:name=".FragmentsTerms.qwerty" />
        <activity android:name=".FragmentsTerms.raid" />
        <activity android:name=".FragmentsTerms.raster" />
        <activity android:name=".FragmentsTerms.rdf" />
        <activity android:name=".FragmentsTerms.reach" />
        <activity android:name=".FragmentsTerms.readonly" />
        <activity android:name=".FragmentsTerms.realnumber" />
        <activity android:name=".FragmentsTerms.realtime" />
        <activity android:name=".FragmentsTerms.recursion" />
        <activity android:name=".FragmentsTerms.recursivefunction" />
        <activity android:name=".FragmentsTerms.redundancy" />
        <activity android:name=".FragmentsTerms.refresh" />
        <activity android:name=".FragmentsTerms.refreshrate" />
        <activity android:name=".FragmentsTerms.regularexpres" />
        <activity android:name=".FragmentsTerms.relational" />
        <activity android:name=".FragmentsTerms.remoteaccess" />
        <activity android:name=".FragmentsTerms.remoteuser" />
        <activity android:name=".FragmentsTerms.rendering" />
        <activity android:name=".FragmentsTerms.resolution" />
        <activity android:name=".FragmentsTerms.responsive" />
        <activity android:name=".FragmentsTerms.restore" />
        <activity android:name=".FragmentsTerms.retinadis" />
        <activity android:name=".FragmentsTerms.rgb" />
        <activity android:name=".FragmentsTerms.rightclick" />
        <activity android:name=".FragmentsTerms.ripcording" />
        <activity android:name=".FragmentsTerms.rj45" />
        <activity android:name=".FragmentsTerms.router" />
        <activity android:name=".FragmentsTerms.row" />
        <activity android:name=".FragmentsTerms.rup" />
        <activity android:name=".FragmentsTerms.safemode" />
        <activity android:name=".FragmentsTerms.sample" />
        <activity android:name=".FragmentsTerms.samplerate" />
        <activity android:name=".FragmentsTerms.sampling" />
        <activity android:name=".FragmentsTerms.scalable" />
        <activity android:name=".FragmentsTerms.sdk" />
        <activity android:name=".FragmentsTerms.searchen" />
        <activity android:name=".FragmentsTerms.selector" />
        <activity android:name=".FragmentsTerms.selfclosing" />
        <activity android:name=".FragmentsTerms.semantic" />
        <activity android:name=".FragmentsTerms.seo" />
        <activity android:name=".FragmentsTerms.serif" />
        <activity android:name=".FragmentsTerms.sidebar" />
        <activity android:name=".FragmentsTerms.simplex" />
        <activity android:name=".FragmentsTerms.sitemap" />
        <activity android:name=".FragmentsTerms.sku" />
        <activity android:name=".FragmentsTerms.sla" />
        <activity android:name=".FragmentsTerms.smarthome" />
        <activity android:name=".FragmentsTerms.sms" />
        <activity android:name=".FragmentsTerms.soa" />
        <activity android:name=".FragmentsTerms.softcopy" />
        <activity android:name=".FragmentsTerms.software" />
        <activity android:name=".FragmentsTerms.socialgraph" />
        <activity android:name=".FragmentsTerms.speechrecog" />
        <activity android:name=".FragmentsTerms.spooling" />
        <activity android:name=".FragmentsTerms.spx" />
        <activity android:name=".FragmentsTerms.srgb" />
        <activity android:name=".FragmentsTerms.ssid" />
        <activity android:name=".FragmentsTerms.stack" />
        <activity android:name=".FragmentsTerms.standalone" />
        <activity android:name=".FragmentsTerms.standby" />
        <activity android:name=".FragmentsTerms.storagecapacity" />
        <activity android:name=".FragmentsTerms.structural" />
        <activity android:name=".FragmentsTerms.subnetmask" />
        <activity android:name=".FragmentsTerms.subscrift" />
        <activity android:name=".FragmentsTerms.superscript" />
        <activity android:name=".FragmentsTerms.swipe" />
        <activity android:name=".FragmentsTerms.sync" />
        <activity android:name=".FragmentsTerms.syntax" />
        <activity android:name=".FragmentsTerms.systemanalyst" />
        <activity android:name=".FragmentsTerms.systemhardening" />
        <activity android:name=".FragmentsTerms.systemresources" />
        <activity android:name=".FragmentsTerms.table" />
        <activity android:name=".FragmentsTerms.targetdisk" />
        <activity android:name=".FragmentsTerms.technologyservice" />
        <activity android:name=".FragmentsTerms.telecom" />
        <activity android:name=".FragmentsTerms.telecon" />
        <activity android:name=".FragmentsTerms.telehealth" />
        <activity android:name=".FragmentsTerms.terahertz" />
        <activity android:name=".FragmentsTerms.textedit" />
        <activity android:name=".FragmentsTerms.textalign" />
        <activity android:name=".FragmentsTerms.tftp" />
        <activity android:name=".FragmentsTerms.thirdparty" />
        <activity android:name=".FragmentsTerms.thread" />
        <activity android:name=".FragmentsTerms.throughput" />
        <activity android:name=".FragmentsTerms.token" />
        <activity android:name=".FragmentsTerms.traffic" />
        <activity android:name=".FragmentsTerms.trim" />
        <activity android:name=".FragmentsTerms.throubleshooting" />
        <activity android:name=".FragmentsTerms.truncate" />
        <activity android:name=".FragmentsTerms.tweak" />
        <activity android:name=".FragmentsTerms.typerface" />
        <activity android:name=".FragmentsTerms.typehierarchy" />
        <activity android:name=".FragmentsTerms.u" />
        <activity android:name=".FragmentsTerms.userflow" />
        <activity android:name=".FragmentsTerms.userinterface" />
        <activity android:name=".FragmentsTerms.userpersona" />
        <activity android:name=".FragmentsTerms.userresearch" />
        <activity android:name=".FragmentsTerms.uat" />
        <activity android:name=".FragmentsTerms.uddi" />
        <activity android:name=".FragmentsTerms.uefi" />
        <activity android:name=".FragmentsTerms.unc" />
        <activity android:name=".FragmentsTerms.uptime" />
        <activity android:name=".FragmentsTerms.usergenerate" />
        <activity android:name=".FragmentsTerms.userfriendly" />
        <activity android:name=".FragmentsTerms.username" />
        <activity android:name=".FragmentsTerms.ux" />
        <activity android:name=".FragmentsTerms.value" />
        <activity android:name=".FragmentsTerms.vaporware" />
        <activity android:name=".FragmentsTerms.variable" />
        <activity android:name=".FragmentsTerms.vector" />
        <activity android:name=".FragmentsTerms.veronica" />
        <activity android:name=".FragmentsTerms.version" />
        <activity android:name=".FragmentsTerms.vfat" />
        <activity android:name=".FragmentsTerms.viral" />
        <activity android:name=".FragmentsTerms.virtualmachine" />
        <activity android:name=".FragmentsTerms.virtualmemo" />
        <activity android:name=".FragmentsTerms.virtualreality" />
        <activity android:name=".FragmentsTerms.vlan" />
        <activity android:name=".FragmentsTerms.vle" />
        <activity android:name=".FragmentsTerms.vpn" />
        <activity android:name=".FragmentsTerms.vrml" />
        <activity android:name=".FragmentsTerms.warmboot" />
        <activity android:name=".FragmentsTerms.wavelength" />
        <activity android:name=".FragmentsTerms.webapp" />
        <activity android:name=".FragmentsTerms.webserver" />
        <activity android:name=".FragmentsTerms.wep" />
        <activity android:name=".FragmentsTerms.whitebalance" />
        <activity android:name=".FragmentsTerms.whitepaper" />
        <activity android:name=".FragmentsTerms.whitelist" />
        <activity android:name=".FragmentsTerms.wifi" />
        <activity android:name=".FragmentsTerms.wildcard" />
        <activity android:name=".FragmentsTerms.wimax" />
        <activity android:name=".FragmentsTerms.wired" />
        <activity android:name=".FragmentsTerms.wireframe" />
        <activity android:name=".FragmentsTerms.wireless" />
        <activity android:name=".FragmentsTerms.wpa" />
        <activity android:name=".FragmentsTerms.xml" />
        <activity android:name=".FragmentsTerms.xslt" />
        <activity android:name=".FragmentsTerms.y2k" />
        <activity android:name=".FragmentsTerms.grid" />
        <activity android:name=".Data.ActivityRecent" />
        <activity android:name=".Data.ActivityFavorite" />
        <activity android:name=".Data.ActivitySetting" />
    </application>

</manifest>